anyio
appdirs
attrs
beautifulsoup4  
black
bs4
certifi       
cffi
charset-normalizer
click
colorama
cssselect
fake-useragent
h11
httpcore
httpx
idna
importlib-metadata
lxml
mypy-extensions
numpy
outcome
packaging
pandas
parse
pathspec
platformdirs
pycparser
pyee
pyppeteer
pyquery
PySocks
python-dateutil
python-telegram-bot
pytz
requests
requests-html
selenium
six
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
tzdata
urllib3
w3lib
websockets
wsproto
zipp
